html, body, h2, ul, ol, p {
  font: 14px Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin form-element {
  @include flex-row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-close {
  @include button-reset;
  width: 25px;
  height: 25px;

  &:hover {
  background-color: #fa5543;
  }

  &:active {
  color: #ffffff;
  }
}

.container {
  margin: 12px 10px;
}

.work-display {
  @include flex-row;
}

.work-display__plan {
  @include flex-row;
  justify-content: center;
  align-self: start;
  border: 1px solid black;
}

.notification-list {
  @include flex-col;
  text-align: center;
  width: 250px;
}

.notification-list__notification {
  @include flex-col;
  margin-bottom: 20px;
  min-height: 80px;
}

.notification {
  background-color: #ffffffa6;
  text-align: center;
}

.notification__header {
  @include flex-row;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a7a7a7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.notification__img {
  height: 20px;
  width: 20px;
}

.notification__text {}

.notification__button-close {
  @include button-reset;
  color: #a0a0a0d2;

  &:hover {
    color: #000000;
  }

  &:active {
    color: #fa5543;
  }
}

.notification__message {
  @include flex-row;
  min-height: 50px;
  padding: 5px;
  justify-content: center;
  border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.work-display__button-open-list {
  @include button-reset;
  background-color: #ddd;
  background-image: url(/img/worker.min.svg);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 1px 5px 5px 1px;
  font-size: 25px;
  width: 50px;
  height: 50px;

  &:hover {
    background-color: rgb(238, 238, 238);
  }

  &:active {
    background-image: url(/img/worker-active.min.svg);
  }
}

.employee-information-panel {
  @include flex-col;
}

.employees-panel {
  background-color: #ddd;
  border: 1px solid #a7a7a7;
  width: 300px;
  height: 300px;
}

.employees-panel__header {
  @include flex-row;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.list-header {}

.list-header__text {
  margin-top: 5px;
  margin-left: 85px;
  font-weight: 700;
}

.list-header__button-close {}

.employees-panel__body {
  @include flex-row;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.employee {
  margin-bottom: 20px;
}

.employee:last-of-type {
  margin-bottom: 0px;
}

.employees-list__container {
  height: 205px;
  overflow-y: auto;
}

.employees-list__item {
  margin-left: 40px;
  list-style-type: none;
}

.employee {}

.employee__container {
  @include flex-row;
  width: 220px;
  justify-content: space-between;
}

.employee__name {}

.employee__button-open-edit {
  @include button-reset;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-image: url(./img/pencil.min.svg);

  &:hover {
  background-image: url(./img/pencil-hover.min.svg);
  }

  &:active {
  background-image: url(./img/pencil-active.min.svg);
  }
}

.employees-panel__footer {
  @include flex-row;
  justify-content: center;
}

.footer-list {}

.footer-list__button-open-add {
  @include button-reset;
  width: 25px;
  height: 25px;
  background-image: url(./img/plus.min.svg);
  border-radius: 50%;

  &:hover {
  transform: rotate(90deg);
  transition: 1s;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3A2F28;
  }

  &:active {
  box-shadow: none;
  }
}

.employee-add-panel {
  background-color: #ddd;
  border-right: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  border-left: 1px solid #a7a7a7;;
  width: 300px;
  height: 300px;
}

.employee-add-panel__header {
  @include flex-row;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-items: center;
}

.employee-add-panel__button {}

.employee-add-panel__body {
  @include flex-col;
  height: 200px;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: center;
}

.employee-edit-panel {
  background-color: #ddd;
  border-right: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  border-left: 1px solid #a7a7a7;;
  width: 300px;
  height: 300px;
}

.employee-edit-panel__header {
  @include flex-row;
  justify-content: flex-end;
  align-items: center;
}

.employee-edit-panel__button {}

.employee-edit-panel__body {
  @include flex-col;
  height: 180px;
  justify-content: flex-start;
  align-items: center;
}

.employee-add-panel__form, .employee-edit-panel__form {
  width: 250px;
}

.add-employee-form {}

.edit-employee-form {}

.add-employee-form__name, .add-employee-form__position, .add-employee-form__track {
  @include form-element;
}

.add-name-container {}

.add-name-container__label {}

.add-position-container {}

.add-position-container__label {}

.add-track-container {}

.add-track-container__label {}

.edit-employee-form__name, .edit-employee-form__position, .edit-employee-form__track {
  @include flex-row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.edit-name-container {}

.edit-name-container__label {}

.edit-positision-container {}

.edit-positision-container__label {}

.edit-track-container {}

.edit-track-container__label {}

.add-name-container__input, .add-position-container__input, 
.add-track-container__select {
  width: 150px;
}

.edit-name-container__input, .edit-positision-container__input, 
.edit-track-container__select {
  width: 150px;
  height: 20px;
}

.add-employee-form__zone {
  @include flex-col;
  height: 60px;
  overflow-y: auto;
}

.add-zone-container {}

.edit-employee-form__zone {
  @include flex-col;
  height: 60px;
  overflow-y: auto;
}

.edit-zone-container {}

.employee-add-panel__footer {
  @include flex-row;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.footer-add {}

.footer-add__button-add-employee {
  @include button-reset;
  height: 30px;
  color: #000;
  font-weight: 700;
  transition: 0.5s;

  &:hover {
    color: #00881d;
    box-shadow: 0px -3px 0 #00881d inset;
  }

  &:active {
    color: #000;
    box-shadow: 0px -3px 0 #000 inset;
  }
}

.employee-edit-panel__footer {
  @include flex-col;
  margin-left: 50px;
  width: 200px;
  justify-content: center;
}

.footer-edit {}

.footer-edit__question {
  margin-bottom: 10px;
  text-align: center;
}

.footer-edit__edit-button-group {
  @include flex-row;
  justify-content: space-around;
  height: 30px;
}

.button {
  @include button-reset;
}

.button-remove-yes {
  padding: 5px;
  box-shadow: 0px -30px 0 #00881d80 inset;

  &:hover {
    box-shadow: 0px -30px 0 #00881d inset;
  }
  &:active {
    color: #fff;
  }
}

.button-remove-no {
  padding: 5px;
  box-shadow: 0px -30px 0 #fa3b2680 inset;

  &:hover {
    box-shadow: 0px -30px 0 #fa3b26 inset;
  }
  &:active {
    color: #fff;
  }
}

.button-save-change {
  height: 30px;
  margin-bottom: 5px;
  &:hover {
    background-color: #41ae55;
  }
  &:active {
    color: #ffffff;
  }
}

.button-remove-emp {
  height: 30px;

  &:hover {
    background-color: #fa5543;
  }
  &:active {
    color: #ffffff;
  }
}
